*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color:white;
}
.contenedorhijo{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px 400px auto 100px;
    grid-template-areas: "nav nav nav nav nav"
                        "header header header header header"
                        "main main main aside aside"
                        "footer footer footer footer footer"; ;

}

.navegador2{
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: space-around;
    height: 70px;
}

 .encabezado2{
     grid-area: header;
     background-image: url("../img/fondo-medico-1920x700.jpg");
 }

.main2{
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    }

.pie2{
    grid-area: footer;
    background-color:rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 20px;
    
}



ul{
    list-style: none;

}
ul li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    
}


.contenedor{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px 400px auto 100px;
    grid-template-areas: "nav nav nav nav nav"
                        "header header header header header"
                        "main main main main main"
                        "footer footer footer footer footer";
}

.navegador{
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    display: flex;
    justify-content: space-around;
   
}
.navegador ul li{
    display: inline-block;
    
    
}
.encabezado{
     grid-area: header; 
    background-image: url("../img/foto3.valen.jpg");
    background-size: cover;
}

.main{
    grid-area: main;
    justify-content: center;
   }

.pie{
     grid-area: footer; 
    background-color:rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 120px;
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
}   

.btn{
     width: 100px;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 5px 10px;
    border-radius: 6px;
    margin: 10px;
}
.tarjeta{
    display: flex;
    display:flexbox;
    width: 350px;
    height: 250px;
    padding-bottom: 20px;
    justify-content: space-between;
   }
.tarjeta__info{
    text-align: center;
    width: 600px;
    
}
.log{
    width: 50px;
    height: 50px;
    padding-left: 900px;
    
}
h3{
    text-align: center;
    padding-top: 10px;
}

.imagen{
    width: 500px;
    padding-left: 100px;
}
    
.contenedortexto{
    display: flex;
    justify-content: center ;
    padding: 20px 0px 20px 200px;
    
}
.parrafo1{
    width: 400px;
    font-size: 27px;
}
.titulo{
    padding-left: 200px;
    
}

.contenedorc{
    display: grid;
    gap: 15px;
    color: white;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 70px 400px auto 100px;
    grid-template-areas: "nav nav nav nav nav"
                        "header header header header header"
                        "main main main main main"
                        "footer footer footer footer footer";
}

.navegadorc{
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: space-around;
    height: 80px;

}
.encabezadoc{
    grid-area: header;
  background-image: url("../img/fondo-medico-1920x700.jpg");
   height: 400px;
}
   
  .mainc{
      grid-area: main;
    
      
  }

  .imagenc{
      margin-left: 100px;
      

  }
.formulario{
   margin-left: 600px;
   text-align: center;
   
   }

.pie3{
    gap: 26px;
    grid-area: footer;
    background-color:rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 160px;
    
}

.contac{
    background-color: aqua;
    margin-top: 50px;
}
   

.menu{
    background-color: rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    
}
.nosotros{
    height: 80px;
}
.encabezadon{
    margin-top: 100px;
   padding-left: 500PX ;
}
.subtitulo{
    font-size: 32px ;
    text-align:center;
    font-family:monospace;
    
}
.metas{
    width: 1000px;
    height: 20px;
    margin-left: 280px;
    margin-top: 60px;
    font-size:17px;
}

.parrafosn{
    width: 800px;
    height: 100px;
    margin-top: 30px;
    margin-left: 410px;
}
.actividad{
    margin-top: 20px;
}

.evoluciona{
    margin-top:20px;
}
.solidez{
    margin-top:20px
}

.superacion{
    margin-top:20px;
}

.pienosotros{
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.288);
    margin-top: 425px;
    color: white;
}

.menucompra{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: space-around;
    color: white;
    
}

.insignia{
    height: 80px;
}

.encabezadocompra{
    width: 100%;
    height: 650px;
    background-image: url("../img/rastreadorescovid.larkinhospital.com-rastreadores-de-contactos-covid-19-home-.jpg");
    font-size: 35px;
    text-align:end;
    background-size: cover;
    color: white;
    margin-top: 40px;
}

.contenedorventa{
    width: 100%;
    height: 200px;
    background-color: rgba(253, 253, 255, 0.815);
    margin-top: 90px;
    margin-left: 100px;
    
}
.puntosventa{
    font-size: 35px;
}


.boton{
    margin-top:25px;
    font-size: 20px;
   
}

.contenido li {
    list-style:none;
    display:block;
    list-style: none;
    padding: 13px;
    width: 180px;
    
   
}


.contenido li:hover{
    background-color: #f1f1f1;
}

.boton:hover.contenido {
    display:block;
}
.locacion{
    padding-top: 400px;
    margin-left: 80px;
}
.parrafocompra{
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 83px;
}
.mapa{
    margin-left: 620px;
    
}
.titulocompra{
    margin-bottom: 10px;
}

